.input {
	&__field::placeholder {
		color: var(--secondary-text-color);
	}

	&__field {
		width: 100%;
		padding: 10px 14px;
		border-radius: 6px;
		color: var(--primary-text-color);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
		border: 1px solid var(--border-color);
	}

	&__field:focus {
		border-color: var(--primary-blue);
	}
}
