.btn {
	&_primary {
		background-color: var(--primary-blue);
		padding: 10px 14px;
		color: #fff;
		border-radius: 6px;
		cursor: pointer;
		transition: 0.1s ease-in-out;
	}

	&_primary:hover {
		background-color: #1d39c4;
	}

	&_primary:active {
		background-color: #10239e;
	}
}
