@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-feature-settings: "lnum" 1;
}

input,
textarea {
	outline: none;
}

button {
	border: none;
	background-color: inherit;
}

:root {
	--primary-blue: #0b5fd5;
	--primary-text-color: #0e0f11;
	--secondary-text-color: #838d95;
	--border-color: #dde1e6;
	--danger-color: #f5222d;
}

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e6f7ff;
	height: 100vh;
}

.container {
	background-color: #fff;
	width: 500px;
	overflow: hidden;
	height: max-content;
	padding: 20px 40px;
	border-radius: 20px;
	box-shadow: 0 0 5px -5px rgba(0, 0, 0, 0.5);

	&__body {
		margin-top: 30px;
		height: max-content;
	}
}

.title {
	text-align: center;
	font-size: 24px;
}

.control {
	&-label {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	&-error {
		position: absolute;
		bottom: -10px;
		font-size: 12px;
		color: var(--danger-color);
	}
}

.d {
	&_block {
		display: block;
	}
}

.mt {
	&_20 {
		margin-top: 20px;
	}

	&_40 {
		margin-top: 40px;
	}
}

.mr {
	&_0 {
		margin-left: auto;
	}
}
